:root {
  --opacity-header: 0.5; }

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none;
  color: #111; }

#navbar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 3rem;
  z-index: 99; }
  #navbar-container .nav-link {
    color: #fff;
    font-size: 1.1rem; }
  #navbar-container #name-navbar {
    width: 70px;
    color: #fff;
    font-size: 1.7rem;
    font-family: "Roboto", sans-serif; }
  #navbar-container #nav-mobile, #navbar-container #nav-desktop {
    display: none; }
  #navbar-container .menu-open {
    width: 100%;
    text-align: center;
    margin-top: 20px; }
    #navbar-container .menu-open a {
      display: block;
      padding: 15px; }

#menu-hamb {
  position: absolute;
  top: 14px;
  right: 25px;
  background: none;
  border: none;
  transform: scale(0.6); }
  #menu-hamb div {
    background-color: #fff;
    margin-bottom: 6px;
    width: 45px;
    height: 7px;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: .7s ease; }
  #menu-hamb div:first-child {
    transform-origin: 0% 0%; }
  #menu-hamb div:nth-last-child(2) {
    transform-origin: 0% 100%; }

.cross div:first-child {
  transform: rotate(45deg) translate(-2px, -1px); }
.cross div:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }
.cross div:last-child {
  transform: rotate(-45deg) translate(-5px, -4px); }

@media (min-width: 768px) {
  #navbar-container {
    flex-direction: row; }
    #navbar-container #nav-desktop {
      display: block;
      margin-left: auto; }
      #navbar-container #nav-desktop a {
        filter: brightness(100%); }
        #navbar-container #nav-desktop a:nth-child(1) {
          margin-right: 20px; }
      #navbar-container #nav-desktop a:hover {
        filter: brightness(75%); }

  #menu-hamb {
    display: none; } }
#header-bg {
  background-image: url("../../images/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: black;
  position: relative;
  display: flex; }
  #header-bg #header-text {
    margin: auto;
    padding: 50px;
    color: #fff;
    z-index: 1;
    text-align: center; }
    #header-bg #header-text h1 {
      font-size: 3rem; }
    #header-bg #header-text h2 {
      font-size: 2rem; }
    #header-bg #header-text #detail-description {
      text-align: left; }

#header-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: var(--opacity-header); }

@media (min-width: 768px) {
  #header-bg #header-text {
    padding: 150px; } }
#projects-title, #about-title {
  text-align: center;
  margin-top: 100px; }

#projects-container {
  margin: 70px 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  justify-items: center; }
  #projects-container .project-card {
    box-shadow: 5px 5px 5px #0000004a;
    border-radius: 4px;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden; }
    #projects-container .project-card .project-img {
      border-radius: 4px;
      width: 135%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.1) rotate(0.3deg); }
    #projects-container .project-card .img-overlay {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 4px;
      transition: opacity .5s;
      padding: 50px 20px 5px; }
      #projects-container .project-card .img-overlay .overlay-title, #projects-container .project-card .img-overlay .overlay-description {
        color: #fff; }
      #projects-container .project-card .img-overlay .overlay-title {
        margin-bottom: 10px; }
      #projects-container .project-card .img-overlay .link-project {
        width: 10%;
        color: #fff;
        align-self: flex-end;
        font-size: 20px; }
  #projects-container .project-card:hover .img-overlay {
    opacity: 1; }

@media (min-width: 768px) {
  #projects-title, #about-title {
    text-align: left;
    margin-left: 30px; }

  #projects-container {
    grid-template-columns: repeat(auto-fill, minmax(379px, 1fr)); }
    #projects-container .project-card .project-img {
      width: 100%;
      max-height: 100%; } }
#about-container {
  margin: 70px 50px 150px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  justify-items: center;
  align-items: center; }
  #about-container #profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%; }

@media (min-width: 768px) {
  #about-container {
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr)); }
    #about-container #about-text {
      grid-area: 1 / 2 / 1 / 4; } }
<<<<<<< HEAD
#detail-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin: 40px; }
=======
#detail-description, #links-project-container {
  margin: 40px; }

#detail-description, #detail-description-title {
  margin-bottom: 20px; }

.skill-icon {
  font-size: 2rem;
  margin: 10px; }

#detail-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  margin: 100px 40px; }
>>>>>>> develop
  #detail-container img {
    width: 100%; }

@media (min-width: 768px) {
  #detail-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense; }
    #detail-container .image-section {
      height: 90%; }
    #detail-container .reverse-img {
      grid-column: 2 / 3; }
    #detail-container .reverse-text {
      grid-column: 1 / 2; } }
footer {
  display: flex;
  width: 100%;
  height: 170px;
  background-color: #111; }
  footer .links-container {
    margin: auto; }
    footer .links-container .footer-link {
      color: #fff;
      font-size: 30px;
      margin: 10px; }

/*# sourceMappingURL=index.css.map */
