//CSS variables
:root {
    --opacity-header: 0.5;
    --bg-navbar: transparent;
}

//Colors
$primary-color: #111;
$primary-font-color: #fff;

//Fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;