#detail-description-container, #links-project-container {
    margin: 40px;
}

#detail-description-container, #detail-description-title {
    margin-bottom: 20px;
}

.project-icon {
    font-size: 2rem;
    margin:10px;
}

.section-link {
    font-size: 18px;
    margin: 5px 0px 0px 5px;
}

.link-underline {
    text-decoration: underline;
}

#detail-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin: 80px 40px;
    img {
        width: 100%;
    }
    .section-description {
        margin-top: 20px;
    }
}
.section-subtitle {
    color: #414444;
    font-family: monospace;
}

@include breakpoint(768px) {
    #detail-description-container, #links-project-container {
        max-width: 50%;
    }
    #detail-container {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: dense;
        .image-section {
            height: 90%;
        }
        .reverse-img {
            grid-column: 1 / 2;
        }
        .reverse-text {
            grid-column: 2 / 3;
        }
    }
}