footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    height: 170px;
    background-color: $primary-color;
} 
#email-link, #copyright {
    color: $primary-font-color;
}
#email-link {
    margin-bottom: 5px;
    display: block;
}

#social-links-container {
    margin-bottom: 15px;
}
.footer-link {
    color: $primary-font-color;
    font-size: 30px;
    margin: 15px;
}

@include breakpoint(768px) {
    footer {
        flex-direction: row;
    }
    #social-links-container {
        margin-bottom: 0;
    }
}