#header {
    height: 100vh;
    position: relative;
    display: flex;
    #header-text {
        margin: auto;
        padding: 0 32px;
        color: $primary-color;
        z-index: 1;
        p {
            font-size: 2.4rem;
            font-weight: 600;
        }
        h1 {
            font-size: 3.2rem;
            font-weight: 700;
        }
    }
}

#title-index {
    position: relative;
    animation-name: name;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

#subtitle-index {
    position: relative;
    animation-name: title;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

@keyframes name {
    from {bottom: 500px;}
    to {bottom: 0;}
    8% {opacity: 0;}
    50% {opacity: 1;}
}

@keyframes title {
    from {top: 500px;}
    to {top: 0;}
    8% {opacity: 0;}
    50% {opacity: 1;}
}

@include breakpoint(768px) {
    #header h1 {
        font-size: 3rem;
    }
}