#header {
    background-image: url("../../images/header-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
    #header-text {
        margin: auto;
        padding: 0 35px;
        color: $primary-color;
        z-index: 1;
        p {
            font-size: 1.4rem;
        }
        h1 {
            font-size: 2.4rem;
        }
        h1, p {
          color: $third-color;  
        }
    }
}
  
#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: var(--opacity-header);
}

#title-index {
    position: relative;
    animation-name: name;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

#subtitle-index {
    position: relative;
    animation-name: title;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

@keyframes name {
    from {bottom: 500px;}
    to {bottom: 0;}
    8% {opacity: 0;}
    50% {opacity: 1;}
}

@keyframes title {
    from {top: 500px;}
    to {top: 0;}
    8% {opacity: 0;}
    50% {opacity: 1;}
}

@include breakpoint(768px) {
    #header h1 {
        font-size: 3rem;
    }
}