.title {
    font-size: 2rem;
    text-align: center;
    margin-top: 100px;
}

// Projects //
#projects-container {
    margin: 70px 30px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    justify-items: center;
    
    .project-card {
        box-shadow: 5px 5px 5px #0000004a;
        border-radius: 4px;
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
    
        .project-img {
            border-radius: 4px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.1) rotate(0.3deg);
        }
        .img-overlay {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 60%;
            width: 100%;
            height: 40%;
            background: rgba(0, 0, 0, .8);
            border-radius: 4px;
            .overlay-text {
                margin-left: 30px;
                margin-right: 55px;
                .overlay-title, .overlay-description {
                    color: $primary-font-color;
                }
                .overlay-title {
                    font-size: 1.3rem;
                    margin: 0;
                }
                .overlay-description {
                    display: none;
                    font-size: 1rem;
                }
            }
            .link-project {
                position: absolute;
                bottom: 15px;
                right: 20px;
                color: $primary-font-color;
                font-size: 1.25rem;
            }
        }
    }
    
}

@include breakpoint(768px) {
    .title {
        text-align: left;
        margin-left: 30px;
    }
     #projects-container {
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    }
}

@media (hover: hover) {
    #projects-container {
        .project-card {
            .img-overlay {
                top: 0;
                height: 100%;
                opacity: 0;
                transition: opacity .5s;
                .overlay-text {
                    .overlay-title {
                        margin-bottom: 10px;
                        font-size: 2rem;
                    }
                    .overlay-description {
                        display: block;
                    }
                }    
            }
        }
        .project-card:hover {
            .img-overlay {
                opacity: 1;
            }
        }
    }
}

//Skills
#skills-container {
    margin-top: 70px;
    padding: 0 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 30px;
    justify-items: center;
    .skill-div {
        display: inline-block;
        text-align: center;
        .skill-icon {
            width: 100px;
            height: 100px;
            border: 2px solid;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.8rem;
        }
        .skill-title {
            font-weight: bold;
            font-size: 1rem;
        }
    }
}

//About me//
#about-container {
    padding: 0 35px;
    margin: 70px 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    #profile-img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    #about-text {
        letter-spacing: 0.1px;
        font-size: 1rem;
        margin-top: 50px;
    }
}

@include breakpoint(768px) {
    #about-container {
        flex-direction: row;
        #about-text {
            max-width: 600px;
            order: -1;
            margin: 0;
            margin-right: 30px;
        }
    }
}