.project-video {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
}

video {
  height: 226px;
  display: none;
}

.play, .pause {
  position: absolute;
  display: inline-block;
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 50%;
  i {
      font-size: 50px;
      color: $primary-color;
  }
}

.pause {
  display: none;
}

.pause {
  opacity: 0;
  transition-duration: .4s;
}

.project-video:hover .pause {
  opacity: 1;
}

@include breakpoint(500px) {
  video {
      height: 279px;
  }
}

@include breakpoint(1080px) {
  video {
      height: 330px;
  }
}

 /* Hidden by default, selectively shown. 
  At this point this is how a skin designer would show them. */
.video-js .vjs-current-time { display: block; }
.video-js .vjs-time-divider { display: block; }
.video-js .vjs-duration { display: block; }
.video-js .vjs-mute-control { display: block; }
.video-js .vjs-volume-control { display: block; }

/* Could be broken. Can't find what's supposed to show it now */
.video-js .vjs-live-control { display: block; }

/* Programmatically hidden with vjs-hidden when no tracks */
.video-js .vjs-chapters-button { display: block !important; }
.video-js .vjs-subtitles-button { display: block !important; }
.video-js .vjs-captions-button { display: block !important; }

/* Hidden with state classes */
.video-js .vjs-control-bar { display: flex; }
.video-js.vjs-has-started .vjs-big-play-button { display: block; }
